# Ficheiro .gitignore para projetos Python

# Ambientes Virtuais
venv/
/venv
.venv

# Ficheiros de cache do Python
__pycache__/
*.pyc

# Ficheiros de configuração do VS Code
.vscode/

# Ficheiros de sistema
.DS_Store

# Base de Dados SQLite
ecologic.db